.categories {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow: scroll;
  overflow-y: hidden;
  font-size: smaller;
  cursor: pointer; 

}
.category{
  margin-left:1rem ;
}